
  
 
  
  body {
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(30, 30, 53);
  }
  
  .user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    color: black;
    height: auto;
    width: 300px;
    padding: 20px;
    margin: 10px;
  }
  
  .user-card {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #ECEBFF;
    width: 300px;
    padding: 20px;
    margin: 10px;
  }
  
  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 768px) {
   
    .container {
      padding: 10px;
    }
    
    .user-card {
      flex-basis: 45%;
    }
  }
  
  @media only screen and (max-width: 480px) {
   
    .user-card {
      flex-basis: 100%;
    }
    
    .user-image {
      width: 120px;
      height: 120px;
    }
  }
  
